<nav class="p-3 bg-gradient-to-r from-[#1E40AF] to-[#2563EB] flex items-center space-x-3 rounded-lg shadow-md">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
    <a 
      class="text-white font-medium text-sm hover:underline hover:underline-offset-4 transition-all duration-300 cursor-pointer"
      (click)="navigateTo(i)"
    >
      {{ breadcrumb.label }}
    </a>
    <span *ngIf="i < breadcrumbs.length - 1" class="text-white opacity-80 text-lg">›</span>
  </ng-container>
</nav>
