ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  li {
    font-size: 1rem;
    color: #333;
    padding: 15px 25px;
    border-bottom: 1px solid #e1e1e1;
    transition: all 0.3s ease;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li:hover {
    background-color: #f0f0f0;
    transform: translateX(10px);
    color: #6A4C92;
  }
  
  li:active {
    transform: translateX(5px);
    background-color: #e1e1e1;
  }
  