<div class="bg-white text-gray-800 h-screen w-80 p-6 border-r border-gray-300 shadow-md overflow-y-auto">
    <h2 class="text-2xl font-semibold mb-8">Prácticas de Angular</h2>
    <ul class="space-y-4">
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica1">
          Práctica 1
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica2">
          Práctica 2
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica3">
          Práctica 3
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica4">
          Práctica 4
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica5">
          Práctica 5
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica6">
          Práctica 6
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica7">
          Práctica 7
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica8">
          Práctica 8
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica9">
          Práctica 9
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica10">
          Práctica 10
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica11">
          Práctica 11
        </a>
      </li>
      <li>
        <a class="block px-6 py-3 rounded-lg hover:bg-[#E1E1E1] hover:text-[#6A4C92] transition-all duration-300" routerLink="/practica12">
          Práctica 12
        </a>
      </li>
    </ul>
  </div>
  